.about-section {
  margin-top: 4rem;
      margin-right: 6.8rem;
  line-height: 1.5;
  font-size: 1rem;  
  font-family: sans-serif;
  color: rgb(148, 163, 184);
margin-bottom: 1rem;
  -webkit-font-smoothing: antialiased;

}


.highlight-word {
  font-weight: 500;
  color: #e2e8f0; 
  text-decoration: none;
  transition: color 0.3s ease;

}

.highlight-word:hover {
  /* color: #4DB6AC; */

color: #5eead4;
}