.hero-section {
  color: #f2f4f8; /* updated to Off-White for contrast */
  text-align: left;
  min-height: calc(100dvh - 3rem);
  padding-top: 5rem;
  background-color: #111729;
  display: flex;
  flex-direction: column;
}


.Name {
  font-size: 3.5rem;
  margin-top: 0rem;
  margin-left: 8.5rem;
  font-weight: bolder;
  font-style: italic;
}

.hero-tagline {
  font-size: 1.2rem;
  color: #f2f4f8; /* changed from slate blue to Off-White */
  margin-top: -2.7rem;
  margin-left: 8.5rem;
  font-weight:bold;
}

.hero-description {
  margin-top: 0.3rem;
  font-size: 1rem;
  max-width: 15.75rem;
  margin-left: 8.5rem;  
  color: #7e8597;
  z-index: 10;

}

.hero-cta {
  color: #111729;
  background-color: #f2f4f8;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: bold;
  margin-top: 8rem;
  margin-left: 8.5rem;  
  display: inline-block;
  max-width: 11.6rem;
}

.hero-cta:hover {
  background-color: #7e8597;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.3s ease forwards;
  animation-delay: 0.5s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}


@media (max-width: 640px) {
  .hero-section {
    padding-bottom: 4rem;
  }
}


