.hero-section {
  color: #e2e8f0; /* updated to Off-White for contrast */
  text-align: left;
  min-height: calc(100dvh - 3rem);
  padding: 4rem 2rem 2rem 0rem;
  background-color: rgb(15 23 42);
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: clamp(9rem, 8vw, 9rem);

}

.hero-name {
  font-size: clamp(2.5rem, 8vw, 3.6rem);
  /* margin-left: clamp(1.8rem, 8vw, 9rem); */
  margin-top: 1.5rem;
  font-weight: 900;
  line-height: 1.1;
  color: #e2e8f0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hero-tagline {
  font-size: clamp(1rem, 3vw, 1.2rem);
  color: #e2e8f0; /* changed from slate blue to Off-White */
  margin-top: 0.6rem;
  /* margin-left: clamp(2rem, 8vw, 9rem); */
  margin-bottom: 1rem;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hero-description {
  margin-top: 0.15rem;
  font-size: clamp(0.875rem, 2.5vw, 1rem);
  max-width: clamp(15rem, 80vw, 20rem);
  /* margin-left: clamp(2rem, 8vw, 9rem); */
  color: rgb(148 163 184); /* slate-400 */
  z-index: 10;
  line-height: 1.5; /* leading-normal */
  font-family: 'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hero-description::selection {
  background-color: #5eead4; /* bg-teal-300 */
  color: #134e4a; /* text-teal-900 */
}

@media (max-width: 768px) {
  .hero-section {
    min-height: auto;
    width: 80vw;
    /* Add this line to make it a flex container */
    display: flex; 
    /* This aligns content to the start (left) */
    justify-content: flex-start; 
    /* This stacks the items vertically */
    flex-direction: column; 
    margin-left: 1rem;
    margin-top: -2rem;
  }

  .hero-name {
    white-space: nowrap;
    font-size: 5rem;
  }

  .hero-tagline {
    font-size: 1rem;
    margin-top: 1rem;
  }

  .hero-description {
    margin-top: 1rem;
    max-width: 100%;
    font-size: 0.95rem;
  }
}

@media (max-width: 480px) {
  .Name {
    font-size: 3rem;
  }

  .hero-tagline {
    font-size: 2rem;
    margin-top: 1rem;
  }

  .hero-description {
    font-size: 1rem;
  }
}
