.Navbar {
  justify-content: space-between;
  display: flex;
  background-color: #1B3C53;
  position: sticky;
  top: 0;
  align-items: center;
  z-index: 1000;
  padding-right: 1rem;
}

.LogoIMG {
  width: 5rem;
  height: 5rem;
}

.Logo {
  font-size: 1.5rem;
  color: #F9F3EF;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
}

.logoGroup {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.nav-links a {
  color: #F9F3EF;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 550;

}

.nav-links a:hover {
  color: #D2C1B6;
  border-bottom: 2px solid #D2C1B6;

}