/* Timeline.css */

.timeline-container {
  scroll-margin-top: 5rem;
  min-height: calc(100vh - 5rem - 3rem);
  padding-top: 3rem;  position: relative;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F8F7F4;
  border-bottom: 1px solid #D2C1B6;
  color: #4271DE;
}

.timeline-bar {
  display: flex;
  overflow-x: auto;
  padding: 1rem 0;
  position: relative;
  border-top: 2px solid #4271DE;
  width: 100%;
  max-width: 56rem;
  gap: 3rem;
  scrollbar-width: none; /* Firefox */
}
.timeline-bar::-webkit-scrollbar {
  display: none; /* Chrome */
}

.timeline-event {
  position: relative;
  cursor: pointer;
  text-align: center;
  flex: 0 0 auto;
}

.event-marker {
  width: 16px;
  height: 16px;
  background-color: rgba(248, 247, 244, 0);  border-radius: 50%;
  border: 2px solid #4271DE;
  margin: 0 auto;
  margin-top: -9px;
}

.timeline-event.active .event-marker {
  background-color: #BFD2F9; /* Green */
  transform: scale(1.2);
}

.event-date {
  margin-top: 8px;
  font-size: 0.85rem;
  color: #4271DE;
  font-weight: bold;
}

.timeline-detail {
  width: 300px;         /* fixed width */
  height: 465px;        /* must equal width */
  border-radius: 10%;   /* makes it a perfect circle */
  overflow: hidden;     /* prevents content from spilling out */
  padding: 1rem;
  background-color: #F9FAFB;
  color: #1B3C53;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
  animation: fadeIn 1s ease-in-out;
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
  border: 2px solid #4271DE;
  color: #4271DE;
}


.timeline-detail .description {
  max-width: 100%; 
  height: auto;   
  display: block;  
  margin: 0 auto;  
  max-height: calc(100% - 9rem);
}

.timeline-img {
  max-width: 100%;
  max-height: 300px;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 0.5rem;
}


.timeline-detail h3 {
  margin-top: 0.75rem;
  margin-bottom: -1rem;
  font-size: 1.3rem;
  color: #4271DE;
}

.close-button {
  position: absolute;
  top: 0.5rem;
  right: 0.75rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #4271DE;
  cursor: pointer;
  z-index: 1000;
  font-weight: bold;
}

.close-button:hover {
  color: #BFD2F9; /* red on hover */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Responsive behavior */
@media (max-width: 640px) {
  .timeline-bar {
    gap: 1rem;
  }

  .timeline-detail {
    padding: 1rem;
  }

  .event-date {
    font-size: 0.75rem;
  }

  .timeline-detail h3 {
    font-size: 1.1rem;
  }
}
