.App {
  text-align: center;
}

.profile-img {
  width: 30px;
  height: 45px;
  border-radius: 50%;
}

.App-header {
  background-color: #F9F3EF;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #1B3C53;
  font-family: 'Lato', sans-serif;

}

.section {
  font-family: 'Poppins', sans-serif;
  color: #1B3C53;
  background-color: #F9F3EF;
  border-bottom: 1px solid #D2C1B6;
  min-height: 100vh;
  padding: 4rem;
}