.App {
  text-align: center;
}

.App-header {
  background-color: #F9F3EF;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #1B3C53;
  font-family: 'Lato', sans-serif;
}

.section {
  scroll-margin-top: 5rem;
  font-family: 'Poppins', sans-serif;
  color: #1B3C53;
  background-color: #F9F3EF;
  border-bottom: 1px solid #D2C1B6;
  min-height: calc(100vh - 5rem - 2rem);
  padding-top: 2rem;

}