/* App.css */

body, html, #root {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.split-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* Left column: fixed */
/* .left-fixed {
  width: 44vw;
  min-width: 280px;
  max-width: 649px;
  height: 100vh;
  background-color: #F8F7F4;
  padding: 2rem;
  position: sticky;
  top: 0;
} */

.left-fixed {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden; /* no scrollbars */
  width: 47vw;
  min-width: 400px;
  max-width: 690px;
}


/* Right column: scrollable */
.right-scrollable {

  flex: 1;
  height: 100vh;
  overflow-y: scroll;
  padding: 2rem;
  scroll-behavior: smooth;
  background-color: rgb(15 23 42);
}

/* Optional: section spacing */
.section {
  padding: 4rem 0;
  height: 100vh;
  color: #f2f4f8;
  font-weight: bold;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;

}

/* Overlay spotlight that follows the cursor */
#spotlight {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 30;
  pointer-events: none;
  transition: background 0.05s ease-out; /* Smooth update */
}

